body{
    margin: 0;
    padding: 0;
}

.MuiTableContainer-root {
    max-height: 26.8rem !important;
}


tbody tr:first-of-type{
    background: rgba(63,81,181, .5)
}

.global-result{
    width: 55%;
    margin-left: 22.5%;
    margin-right: 22.5%;
    margin-top: 2rem;
}

.global-result-title{
    font-weight: 500;
    color: #3d3d3d;
    font-size: 1.2rem;
}

.global-result-value{
    margin-top: .5rem;
    font-weight: 600;
    font-size: 1.2rem;
    color: rgb(63,81,181);
}

.global-result-date{
    font-weight: 600;
    color: rgb(63,81,181);
    font-size: 1.2rem;
}

.MuiTableCell-head{
    color: #3d3d3d !important;
}

@media only screen and (max-width: 900px) {
    .global-result{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}